@use 'mixins' as *;

section {
  @include flex(column, stretch, flex-start, 40px);
  padding-top: 60px;
  @include padding(60px, 40px, 0, 40px);
  height: 100%;
  .headlineContainer {
    @include flex(row, center, space-between, 0);
    h1 {
      font-size: 60px;
    }
    .addBtnSearchContainer {
      @include flex(row, center, space-between, 32px);
    }
  }
  &:hover {
    cursor: default;
  }
}

.searchSection {
  position: relative;
  width: 312px;
  @include flex(row, center, flex-start, 0);
  textarea {
    border-radius: 10px;
    border: 1px solid #a8a8a8;
    resize: none;
    width: 100%;
    height: 48px;
    padding-right: 40px;
    padding-left: 12px;
    padding-top: 12px;
    @include font(20px, 400);

    &::placeholder {
      color: #d1d1d1;
    }
    &:hover {
      cursor: pointer;
    }
    &:focus-visible {
      outline-color: #29abe2;
    }
  }
  .lensArea {
    @include absolute($top: 8px, $right: 20px);
    @include flex(row, center, flex-start, 16px);
    height: 32px;
    .lensImg {
      height: 18px;
      object-fit: cover;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
.addBtnMobil {
  display: none;
}
.addBtn {
  @include flex-center;
  gap: 8px;
  @include padding(8px, 16px);
  border-radius: 10px;
  background-color: #2a3647;
  width: 160px;
  height: 48px;
  p {
    color: #ffffff;
    @include font(21px, 700);
  }
  img {
    height: 18px;
  }
  &:hover {
    cursor: pointer;
    background-color: #007cee;
    box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.4);
  }
}

.boardContainer {
  @include flex(row, stretch, space-between, 16px);
  width: 100%;
  min-height: 285px;
  .listContant {
    @include flex-col(16px);
    min-height: 100px;
    .listHeadline {
      @include flex(row, center, space-between, 0);
      p {
        @include font(20px, 700);
        color: #42526e;
      }
      img {
        height: 24px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .listContainer {
      @include flex-col(16px);
      padding: 2px;
      padding-bottom: 8px;
      overflow-y: scroll;
      scrollbar-width: none;
      width: 250px;
      height: 100%;
      .task-card {
        cursor: default;
        background-color: #ffffff;
        border-radius: 24px;
      }
      .placeholder {
        @include flex-center;
        height: 48px;
        width: 240px;
        color: #a8a8a8;
        border: 2px dotted #a8a8a8;
        border-radius: 10px;
        background-color: #e7e7e7;
      }
    }
  }
}

.cdk-drag-placeholder {
  opacity: 0.2;
  background: #bfd7f0;
  border: 4px dotted #999;
  border-radius: 12px;
  margin-bottom: 12px;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  @include padding(8px, 20px, 20px, 8px);
  position: fixed;
}

.rotation-wrapper {
  @include card(24px, #ffffff);
}

.cdk-drag-preview .preview-container {
  box-sizing: border-box;
}

.cdk-drag-preview .rotation-wrapper {
  user-select: none;
  display: block;
  width: 240px;
  height: 100%;
}

@media (max-width: 1350px) {
  section {
    height: auto;
    .headlineContainer {
      @include flex(column, flex-start, flex-start, 32px);
      width: 100%;
      .headline {
        @include flex(row, center, space-between, 0);
        width: 100%;
        h1 {
          font-size: 48px;
        }
        .addBtnMobil {
          @include flex-center;
          height: 40px;
          width: 40px;
          background-color: #2a3647;
          border-radius: 10px;
          &:hover {
            cursor: pointer;
            background-color: #007cee;
            box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.4);
          }
        }
      }
      .addBtnSearchContainer {
        width: 100%;
        .searchSection {
          width: 100%;
        }
      }
      .addBtn {
        display: none;
      }
    }
  }
  .boardContainer {
    flex-direction: column;
    gap: 24px;
    .listContant {
      gap: 0;
      min-height: 40px;
      height: 100%;
      .listHeadline {
        p {
          @include font(26px, 700);
          color: #2a3647;
        }
      }
      .listContainer {
        @include padding(24px, 8px, 24px, 8px);
        @include flex(row, stretch, flex-start, 0);
        overflow-y: hidden;
        overflow-x: auto;
        scrollbar-width: auto;
        @include custom-scrollbar-x;
        padding-bottom: 8px;
        width: 100%;
        .task-card {
          height: auto;
        }
        .placeholder {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .listContantDone {
    padding-bottom: 80px;
  }
}

@media (max-width: 400px) {
  section {
    padding-left: 12px;
    padding-right: 12px;
  }
}